body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:654px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:518px;
  width:48px;
  height:48px;
  color:#FFFFFF;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:73px;
  width:594px;
  height:385px;
  overflow:hidden;
}
#u12_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:385px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:398px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-13px;
  width:606px;
  height:398px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:385px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:391px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:591px;
  height:391px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:385px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:386px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:386px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:385px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:386px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:386px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:385px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:383px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:383px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:582px;
  width:48px;
  height:48px;
  color:#FFFFFF;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:582px;
  width:48px;
  height:48px;
  color:#FFFFFF;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:518px;
  width:48px;
  height:48px;
  color:#FFFFFF;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
